# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# Sensitive data
.env

# Docker
.dockerignore
docker-compose.override.yml
docker-compose.yml.local

# macOS
.DS_Store

# misc
btcusdt_1h_historical_data.csv
.cursor-rules
logs/
tmp_*